@charset "utf-8";

/*@import url("navi.css");*/
/*@import url("forms.css");*/
/*@import url("tables.css");*/

html{overflow-y:scroll;}
body{
    font-family: Sans-Serif;
    color:#FFFFFF;
    background-color:#333333;
}

.main_section p { font-size: 14px; }
